:root {
    --black: #222831;
    --grey: #393E46;
    --yellow: #FFD369;
    --white: #EEEEEE;
    margin: 0;
}

body {
    border-radius: 1vw;
    margin: 0;
    background-color: var(--grey);
    margin: 0;
}

/* .svg {
    margin: 0;

} */

#menu {
    filter: invert(99%) sepia(1%)
    saturate(207%) hue-rotate(179deg) brightness(114%) contrast(87%); 
     height: 3vw;
}



.nav {
    padding: 0px 30px;
    height: 5vw;
    max-height: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    box-shadow: 9px 9px 3px #222831;
    border-bottom: 2px solid #FFD369;
    z-index: 2;
}

.head-title {
    font-size: 3vw;
    color: var(--white);
}

#new {
    background-color: var(--yellow);
    height: 3vw;
    width: 4vw;
    border-radius: 1vw;
    outline: none;
    border: none;
    box-shadow: 6px 9px 3px #222831;
    font-size: 1.7vw;

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    /* place-content: center; */
    flex-direction: column;
    background-color: var(--grey);
}

.library {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 30vh;
    grid-auto-rows: 30vh;
    gap: 5vw 10vw;
    padding: 60px;
    z-index: 1;

}

.card {
    max-height: 30vh;
    max-width: 20vw;
    padding: 1vw;
    background-color: var(--white);
    border-radius: 1vw;
    box-shadow: 9px 9px 3px #222831;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#delete {
    margin-left: auto;
    border: none;
    outline: none;
    height: 1.5vw;
}

#delete>img {
    height: 1.5vw;
}

/* #delete::after {
    content: "X";
} */

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-content>* {
    margin: 1vw;

}