:root {
    --black: #222831;
    --grey: #393E46;
    --yellow: #FFD369;
    --white: #EEEEEE;
    margin: 0;
}

body {
    font-family: 'Merriweather', serif;
    border-radius: 1vw;
    margin: 0;
    background-color: var(--grey);
    margin: 0;
}

button {
    cursor: pointer;
}

#menu {
    filter: invert(99%) sepia(1%) saturate(207%) hue-rotate(179deg) brightness(114%) contrast(87%);
    height: 3vw;
}

.nav {
    padding: 0px 30px;
    height: 10vh;
    max-height: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    box-shadow: 3px 4px 5px #222831;
    border-bottom: 2px solid #FFD369;
    z-index: 2;
}

.head-title {
    font-size: 3vw;
    color: var(--white);
}

.buttons {
    display: flex;
    width: 97%;
    justify-content: space-between;
}



.lib-btn {
    background-color: var(--yellow);
    height: calc(40px + 1vw);
    width: calc(50px + 1vw);
    border-radius: 1vw;
    outline: none;
    border: none;
    box-shadow: 6px 9px 3px #222831;
    font-size: 1.7vw;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sort, #search {
    height: calc(30px + 1vw);
    width: calc(40px + 1vw);
}

#sort>img, #search>img {
    height: calc(10px + 1vw);
}

.btn-img {
    height: calc(20px + 1vw);
}

.lib-btn:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.new-pop-up {
    display: none;
    position: fixed;
    top: 6vw;
    left: 35vw;
    width: 30vw;
    flex-direction: column;
    place-items: center;
    background-color: var(--white);
    border-radius: 1vw;
    box-shadow: 12px 12px 6px #222831;
    padding: 5px;
}

hr {
    border: 1px solid var(--yellow);
    background-color: #FFD369;
    width: 15vw;
}

.new-pop-up h1 {
    font-size: 2vw;
    text-align: center;
    margin: 0;
}

#new-book {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2.2vw;
    grid-auto-rows: auto;
    gap: 2vw;
    padding: 0px 30px 30px;
}

#close {
    border: none;
    margin-left: auto;
    background-color: var(--white) 0;
    height: 2vw;
}

#close>img {
    height: 2vw;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new-book>.section {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1vw;
}

#new-book label {
    font-size: 1.2vw;
}

#new-book input[type="text"], #new-book input[type="tel"] {
    border: none;
    border-radius: 1vw;
    height: 1.2vw;
    box-shadow: 3px 3px 3px #d3d3d3 inset;
}

#read {
    border: none;
    outline: none;
}

#read:checked {
    color: #FFD369;
}

#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--grey);
    height: 2vw;
    width: 2vw;
    border-radius: 1vw;
}

#submit>img {
    height: 1.2vw;
    filter: invert(78%) sepia(64%) saturate(376%) hue-rotate(345deg) brightness(99%) contrast(103%);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    flex-direction: column;
    background-color: var(--grey) 0;
}

.library {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 30vh;
    grid-auto-rows: 30vh;
    gap: 5vw 10vw;
    padding: 60px;
    z-index: 1;

}

.card {
    height:  auto;
    width:  auto;
    padding: 4%;
    background-color: var(--white);
    border-radius: 1vw;
    box-shadow: 9px 9px 3px #222831;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.extra-info {
    display: none;
    position: absolute;
    opacity: 1;
}

.delete {
    margin-left: auto;
    border: none;
    outline: none;
    height: 1.5vw;
}

.delete>img {
    height: 1.5vw;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.card-content>* {
    margin: 5%;
}

.card-content>h1 {
    font-size: 2vw;
}

.card-content>p {
    font-size: 0.8vw;
}

.card-content>h3 {
    font-size: 1vw;
}

.read-check {
    height: 4%;
    width: 4%;
    align-self: center;
    border: 2px solid var(--grey);
    border-radius: 1vw;
}

.read-check.true {
    background-color: var(--yellow);
}